# Core audio/data stack
librosa
soundfile
audioread
numpy==1.26.4
pandas
scipy
resampy
torchvggish
tqdm
matplotlib
plotly
scikit-learn
Pillow

# Model stack
transformers
accelerate
einops
timm
omegaconf
hydra-core
wandb
gdown

# Evaluation
visqol-python>=3.3.3
# git+https://github.com/ashvala/AQUA-tk.git
