# Core audio/data stack
librosa
soundfile
audioread
numpy
pandas
scipy
resampy
torchvggish
tqdm
matplotlib
plotly
scikit-learn
Pillow

# Model stack
transformers
accelerate
einops
timm
omegaconf
hydra-core
wandb
gdown

# Evaluation
# visqol-lib-py
# git+https://github.com/ashvala/AQUA-tk.git
